---
import { siteConfig } from '@/data/site.config'
import GoogleMapsEmbed from './GoogleMapsEmbed.astro'
import { Image } from 'astro:assets'

import InstagramIcon from '@/assets/images/instagram.svg'
import FacebookIcon from '@/assets/images/facebook.svg'
import WhatsappIcon from '@/assets/images/whatsapp.svg'
import TikTokIcon from '@/assets/images/tiktok.svg'
import { Mail, Map, MapPin, MapPinned, Phone } from 'lucide-astro'
import ContactForm from './ContactForm.astro'

const whatsappMessage = `Hello, can you tell me more about your tours?`
const number = siteConfig.company.whatsappNumber
const encodedMessage = encodeURIComponent(whatsappMessage)

const SocialLinks = [
	{
		image: InstagramIcon,
		text: 'rd_travels',
		imageAlt: 'Instagram',
		href: 'https://www.instagram.com/rd_intl/'
	},
	{
		image: FacebookIcon,
		text: 'rd_travels',
		imageAlt: 'Instagram',
		href: 'https://www.facebook.com/profile.php?id=61566433043845'
	},
	{
		image: WhatsappIcon,
		text: siteConfig.company.phoneNumber,
		imageAlt: 'Instagram',
		href: `https://wa.me/${number}?text=${encodedMessage}}`
	},

	{
		image: TikTokIcon,
		text: '@rd_travels',
		imageAlt: 'Instagram',
		href: 'https://www.tiktok.com/@rd_tours'
	}
]
---

<div class='relative isolate bg-white'>
	<div class='mx-auto grid max-w-7xl grid-cols-1 lg:grid-cols-2'>
		<div class='relative px-6 pb-20 pt-24 sm:pt-32 lg:static lg:px-8 lg:py-48'>
			<div class='mx-auto max-w-xl lg:mx-0 lg:max-w-lg'>
				<div
					class='absolute inset-y-0 left-0 -z-10 w-full overflow-hidden bg-gray-100 ring-1 ring-gray-900/10 lg:w-1/2'
				>
					<svg
						class='absolute inset-0 size-full stroke-gray-200 [mask-image:radial-gradient(100%_100%_at_top_right,white,transparent)]'
						aria-hidden='true'
					>
						<defs>
							<pattern
								id='83fd4e5a-9d52-42fc-97b6-718e5d7ee527'
								width='200'
								height='200'
								x='100%'
								y='-1'
								patternUnits='userSpaceOnUse'
							>
								<path d='M130 200V.5M.5 .5H200' fill='none'></path>
							</pattern>
						</defs>
						<rect width='100%' height='100%' stroke-width='0' fill='white'></rect>
						<svg x='100%' y='-1' class='overflow-visible fill-gray-50'>
							<path d='M-470.5 0h201v201h-201Z' stroke-width='0'></path>
						</svg>
						<rect
							width='100%'
							height='100%'
							stroke-width='0'
							fill='url(#83fd4e5a-9d52-42fc-97b6-718e5d7ee527)'></rect>
					</svg>
				</div>
				<h2 class='text-pretty text-4xl font-semibold tracking-tight text-gray-900 sm:text-5xl'>
					Get in touch
				</h2>
				<p class='mt-6 text-lg/8 text-gray-600'>
					Have questions or need more information? We're here to help make your travel experience
					unforgettable! Whether you're planning your next adventure or just curious about the area,
					feel free to reach out. Our team is always happy to assist. Get in touch with us today,
					and let's start planning your perfect trip!
				</p>

				<div class='flex flex-col'>
					<dl class='mt-10 space-y-4 text-sm text-gray-600 order-2 sm:order-1'>
						<div class='flex gap-x-4'>
							<dt class='flex-none'>
								<span class='sr-only'>Address</span>
								<MapPinned />
							</dt>
							<dd>
								{siteConfig.company.address.firstLineAddress}<br />{
									siteConfig.company.address.secondLineAddress
								}
							</dd>
						</div>
						<div class='flex gap-x-4'>
							<dt class='flex-none'>
								<span class='sr-only'>Telephone</span>
								<Phone />
							</dt>
							<dd>
								<a class='hover:text-gray-900' href={siteConfig.company.phoneNumber}
									>{siteConfig.company.phoneNumber}</a
								>
							</dd>
						</div>
						<div class='flex gap-x-4'>
							<dt class='flex-none'>
								<span class='sr-only'>Email</span>
								<Mail />
							</dt>
							<dd>
								<a class='hover:text-gray-900' href={`mailto:${siteConfig.company.email}`}
									>{siteConfig.company.email}</a
								>
							</dd>
						</div>

						{
							SocialLinks.map((link) => (
								<div class='flex gap-x-4'>
									<dt class='flex-none'>
										<span class='sr-only'>Whatsapp</span>
										<Image src={link.image} alt='link.imageAlt' class='w-6 h-6' />
									</dt>
									<dd>
										<a class='hover:text-gray-900' href={link.href}>
											{link.text}
										</a>
									</dd>
								</div>
							))
						}
					</dl>

					<div
						style='height: 24rem;'
						class='col-span-2 shadow shadow-inset border border-slate-300 mt-8 sm:order-3'
					>
						<GoogleMapsEmbed />
					</div>
				</div>
			</div>
		</div>
		<ContactForm />
	</div>
</div>
