---
import HeaderLink from '@/components/HeaderLink'
import MenuIcon from './icons/MenuIcon.astro'
import Search from '@/components/Search'
import CountryIcon from './icons/CountryIcon.astro'
import ToggleTheme from './ToggleTheme.astro'
import { SOCIALNETWORKS } from '@/data/links'
import { siteConfig } from '@/site-config'
import { SignedIn, SignedOut, UserButton, SignInButton } from '@clerk/astro/components'

export const prerender = false

const links = [
	{
		name: 'Countries',
		href: '/countries'
	},

	{
		name: 'Tours',
		href: '/tours'
	},

	{
		name: 'About Us',
		href: '/about-us'
	},

	{
		name: 'Company',
		href: '/company'
	}
]
---

<header class='absolute inset-x-0 top-0 z-50'>
	<nav class='flex items-center justify-between p-6 lg:px-8' aria-label='Global'>
		<div class='flex lg:flex-1'>
			<a href='/' class='-m-1.5 p-1.5'>
				<span class='sr-only'>{siteConfig.agency}</span>
				<img class='h-16 w-auto' src='/src/assets/images/logo.png' alt='' />
			</a>
		</div>
		<div class='flex lg:hidden'>
			<button
				type='button'
				class='-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-400'
			>
				<span class='sr-only'>Open main menu</span>
				<svg
					class='size-6'
					fill='none'
					viewBox='0 0 24 24'
					stroke-width='1.5'
					stroke='currentColor'
					aria-hidden='true'
					data-slot='icon'
				>
					<path
						stroke-linecap='round'
						stroke-linejoin='round'
						d='M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5'></path>
				</svg>
			</button>
		</div>
		<ul class='hidden lg:flex lg:gap-x-12 bg-teal-950/40 rounded-full px-4 py-1'>
			{
				links.map((l) => (
					<a href={l.href} class='text-sm/6 font-semibold text-white'>
						{l.name}
					</a>
				))
			}
		</ul>
		<div class='hidden lg:flex lg:flex-1 lg:justify-end'>
			<SignedOut>
				<SignInButton mode='modal' />
			</SignedOut>
			<SignedIn>
				<UserButton />
			</SignedIn>
		</div>
	</nav>
	<!-- Mobile menu, show/hide based on menu open state. -->
	<div class='hidden' role='dialog' aria-modal='true'>
		<!-- Background backdrop, show/hide based on slide-over state. -->
		<div class='fixed inset-0 z-50'></div>
		<div
			class='fixed inset-y-0 right-0 z-50 w-full overflow-y-auto bg-gray-900 px-6 py-6 sm:max-w-sm sm:ring-1 sm:ring-white/10'
		>
			<div class='flex items-center justify-between'>
				<a href='#' class='-m-1.5 p-1.5'>
					<span class='sr-only'>{siteConfig.agency}</span>
					<img class='h-8 w-auto' src='/src/assets/images/logo.png' alt='' />
				</a>
				<button
					type='button'
					onclick='this.close'
					id='close'
					aria-label='close'
					formnovalidate
					class='-m-2.5 rounded-md p-2.5 text-gray-400'
				>
					<span class='sr-only'>Close menu</span>
					<svg
						class='w-7'
						fill='none'
						viewBox='0 0 24 24'
						stroke-width='1.5'
						stroke='white'
						aria-hidden='true'
						data-slot='icon'
					>
						<path stroke-linecap='round' stroke-linejoin='round' d='M6 18 18 6M6 6l12 12'></path>
					</svg>
				</button>
			</div>
			<div class='mt-6 flow-root'>
				<div class='-my-6 divide-y divide-gray-500/25'>
					<div class='space-y-2 py-6'>
						{
							links.map((l) => (
								<a
									href={l.href}
									class='-mx-3 block rounded-lg px-3 py-2 text-base/7 font-semibold text-white hover:bg-gray-800'
								>
									{l.name}
								</a>
							))
						}
					</div>

					<div class='py-6'>
						<SignedOut>
							<SignInButton mode='modal' />
						</SignedOut>
						<SignedIn>
							<UserButton />
						</SignedIn>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>
