---
import BaseLayout from '@/layouts/BaseLayout'
import TitlePage from '@/components/TitlePage'
import { getTours } from '@/utils'
import ListTours from '@/components/ListTours'
const tours = await getTours()

const base = import.meta.env.BASE_URL
---

<BaseLayout title='Our Tours'>
	<TitlePage title='Our Tours' />

	<div>
		<h2 class='text-lg font-medium tracking-wide text-end'>Latest Tours</h2>
		<ListTours FirstBig={true} tours={tours} />
	</div>
	<div class='flex justify-center flex-wrap gap-4'>
		{
			tours.map((tour) => (
				<a
					href={`${base}/tours/${tour.slug}`}
					class='inline-block bg-gray-200  rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2'
				>
					#{tour.data.title}
				</a>
			))
		}
	</div>
</BaseLayout>
