---
import type { CollectionEntry } from 'astro:content'
import FormattedDate from '@/components/FormattedDate'
import BaseLayout from '@/layouts/BaseLayout'
import BookTourForm from '@/components/BookTourForm'
import Country from '@/components/Country'
import type { MarkdownHeading } from 'astro'
import { Image } from 'astro:assets'
import { Users, Clock, Star } from 'lucide-astro'
import StarReview from '@/components/StarReview'

type Props = {
	id: CollectionEntry<'tours'>['id']
	data: CollectionEntry<'tours'>['data']
	headings: MarkdownHeading[]
	readTime: string
}

const { data, readTime, headings, id } = Astro.props
const { title, description, pubDate, heroImage, country, price, minPeopleCount, duration, city } =
	data

const articleDate = pubDate.toISOString()
---

<div class='w-screen bg-black'>
	{
		heroImage && (
			<Image
				src={heroImage}
				format='jpg'
				loading='eager'
				class='rounded-t w-full  object-cover'
				alt={`img of ${title}`}
			/>
		)
	}

	<div class='bg-gradient-to-b from-teal-900/0 to-teal-950/80 h-60 -mt-60 relative'></div>
</div>

<div class='px-2 -mt-[16rem] px-4 mx-auto px-40 relative z-10'>
	<h1 class='text-left text-4xl md:text-6xl md:pb-2.5 font-semibold py-1 text-white'>
		{title}
	</h1>
	<p class='text-white w-2/3'>
		{description}
	</p>
</div>
<hr />

<BaseLayout
	title={title}
	description={description}
	image={heroImage?.src}
	articleDate={articleDate}
>
	<div class='bg-white relative z-20 shadow-lg'>
		<div class='pt-6'>
			<!-- Product info -->
			<div
				class='mx-auto max-w-2xl px-4 pb-16 pt-10 sm:px-6 lg:grid lg:max-w-7xl lg:grid-cols-3 lg:grid-rows-[auto_auto_1fr] lg:gap-x-8 lg:px-8 lg:pb-24 lg:pt-4'
			>
				<div class='lg:col-span-2 lg:border-r lg:border-gray-200 lg:pr-8'>
					<article>
						<div>
							<slot />
						</div>
					</article>
				</div>

				<!-- Options -->
				<div class='mt-4 lg:row-span-3 lg:mt-0'>
					<h2 class='sr-only'>Product information</h2>
					<div class='flex items-center gap-4'>
						<p class='text-3xl tracking-tight text-teal-600 font-bold'>${price}</p>

						<div class='flex items-center gap-1'>
							<Users />
							<p class='text-3xl tracking-tight text-slate-800 font-bold'>
								{minPeopleCount}
							</p>
						</div>

						<div class='flex items-center gap-1'>
							<Clock />
							<p class='text-3xl tracking-tight text-slate-800 font-bold'>
								{duration}hrs
							</p>
						</div>
					</div>

					<StarReview rating={4} reviewCount={20} />

					<div class='flex items-center gap-2 mt-2 mb-2'>
						<Country country={country} />
					</div>
					<hr class='my-4' />
					<BookTourForm />
				</div>
			</div>
		</div>
	</div>
</BaseLayout>

<script></script>
